{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}

<div class="container">
	<div class="row">

        <div class="col-md-4 ">
                        <br>
                    <iframe src="/ved/test" height="140px" width="90px" scrolling="no" frameborder="no" alt=""></iframe>                    
                    <h4><b>Hanuman Jayanti</b></h4>
                    <p><a href="hanuman_chalisa.pdf">More Detail</a></p>
                    <p>&nbsp;</p>
                    <div class="social-links">
                        <a class="facebook" href="https://www.facebook.com/VedMandirNJ"></a>
                        <a class="email" href="mailto:username@example.com?subject=Event&body=message%20goes%20here"></a>
                    </div>
        </div>

        <div class="col-md-4 ">
                <br>
                    <iframe src="/ved/test" height="140px" width="90px" scrolling="no" frameborder="no" alt=""></iframe>                    
                    <h4><b>Hanuman Jayanti</b></h4>
                    <p><a href="hanuman_chalisa.pdf">More Detail</a></p>
                    <p>&nbsp;</p>
                    <div class="social-links">
                        <a class="facebook" href="https://www.facebook.com/VedMandirNJ"></a>
                        <a class="email" href="mailto:username@example.com?subject=Event&body=message%20goes%20here"></a>
                    </div>
        </div>

        <div class="col-md-4 ">
                <br>
                    <iframe src="/ved/test" height="140px" width="90px" scrolling="no" frameborder="no" alt=""></iframe>                    
                    <h4><b>Hanuman Jayanti</b></h4>
                    <p><a href="hanuman_chalisa.pdf">More Detail</a></p>
                    <p>&nbsp;</p>
                    <div class="social-links">
                        <a class="facebook" href="https://www.facebook.com/VedMandirNJ"></a>
                        <a class="email" href="mailto:username@example.com?subject=Event&body=message%20goes%20here"></a>
                    </div>
        </div>

	</div>
</div>
{% endblock %}

