<!doctype html>
<html>
<head>
	{% load staticfiles %}

	{% block titlename %}
	<title>Welcome to Ved Mandir</title>
	{% endblock %}

	<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
	<script src="{% static "css/bootstrap.js" %}"></script>
	<script src="{% static "js/jquery-1.11.2.min.js.js" %}"></script>

    	{% block extra_styles %}

        {% endblock %}

</head>

<body>
	<div class="container main-container"
	     style="width:100%; background-color:white; margin: 0;padding: 0 15px 10px 15px; min-height:80vh;" id="#main-container">


		{% block content %}

		{% endblock %}

	</div>
</body>

