{% extends 'base.html' %}

{% block extra_styles %}
<style type="text/css">
*[class*="Image"]:after, [class*="image"]:after, *[class*="Photo"]:after, *[class*="photo"]:after {
    pointer-events:none !important;
}
</style>
{% endblock %}

{% block content %}
    {% load staticfiles %}


    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <i class="icon-tasks page-title-icon"></i>
                    <h2>  Whats Happening This Month?</h2>
                </div>
            </div>
        </div>
    </div>

  <div class="team container">
        <div class="team-title">
            
        </div>
		<div class="row">
			<div class="portfolio-navigator span12">
				<h4>
					<a href="/ved/events"><span class="violet">Monthly Events</span></a> /
					<a href="/ved/yearlyevents">Yearly Holidays</a> 
				</h4>
			</div>
		</div>

		<div class="team container">
			<div class="row">
				{% for event in events %}
					<div class="team-text span4 ">
						<br>
						<iframe src="/ved/date/{{ event.event_date  | date:'m' }}/{{ event.event_date  | date:'d' }}" height="140px" width="90px" scrolling="no" frameborder="no" alt=""></iframe>                    
						<h4><b>{{ event.description }}</b></h4>
						{% if event.description1_link %}
							<p><a href="/ved/pdf/{{ event.description1 }}">Click for more detail</a></p>
						{% else %}
							<p>{{ event.description1|default:"&nbsp;" }}</p>
						{% endif %}
						<p>{{ event.description2|default:"&nbsp;" }}</p>
						<div class="social-links">
							<a class="facebook" href="https://www.facebook.com/VedMandirNJ"></a>
							<a class="email" href="mailto:username@example.com?subject=Event&body=message%20goes%20here"></a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="call-to-action container">
			<div class="row">
				<div class="call-to-action-text span12">
					<div class="ca-text">
						<p>Need more <span class="violet">information? </span> Want to learn more about what's happening? </p>
					</div>
					<div class="ca-button">
						<a href="/ved/contact">Contact Us!</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

