{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}
       <div class="slider">
            <div class="container">
                <div class="row">
                    <img class="img-responsive center-bloack" src="{% static "img/1.jpg" %}">
                </div>
            </div>
        </div>


		<div class="what-we-do container" style="padding-top:0px"> 
            <div class="row">
                <div class="service col-md-3">
                    <div class="icon-awesome">
                        <i class="icon-time"></i>
                    </div>
                    <h4>Mandir Hours</h4>
                    <p>Monday to Friday <br> 5:00 PM to 8:00 PM</p>
                </div>
                <div class="service col-md-3">
                    <div class="icon-awesome">
                        <i class="icon-time"></i>
                    </div>
                    <h4>Mandir Hours</h4>
                    <p> Saturday to Sunday <br> 10:00 AM to 8:00 PM</p>
                </div>
                <div class="service col-md-3">
                    <div class="icon-awesome">
                        <i class="icon-fire"></i>
                    </div>
                    <h4>Winter Aarti</h4>
                    <p>Nov. to Mar. <br> 7:00 PM</p>
                </div>
                <div class="service col-md-3">
                    <div class="icon-awesome">
                        <i class="icon-fire"></i>
                    </div>
                    <h4>Summer Aarti</h4>
                    <p>Apr. to Oct. <br> 7:30 PM</p>
                </div>
            </div>
		</div> 


{% endblock %}

